.categoria-main {
  display: flex;
  gap: 40px;
  padding: 40px;
  color: #fff;
}

.filtro {
  min-width: 200px;
  background-color: #111;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
}

.filtro select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
}

.contenedor-productos {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
}

.producto-card {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.producto-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 12px; /* Bordes redondeados */
  border: 2px solid #f9dc5e; /* Un borde dorado suave */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para que resalte */
  transition: transform 0.3s, box-shadow 0.3s;
}

.producto-card:hover img {
  transform: scale(1.03);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}


.ver-mas {
  display: inline-block;
  margin-top: 10px;
  background-color: #f9dc5e;
  color: #000;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
